testenv
runs
__pycache__
DocLayNet_core
DocLayNet_filtered
DocLayNet_core.zip
models
dictionary
preview*
annotated_pictures
split10
kfold
combined_preview*
Lib
Include
Scripts
share
*.env
detect_result